/*home page's css*/
p{text-shadow:none;}
	/*navigation's css*/
 .cn-button:focus{box-shadow: none !important;}
	/*navigation's css*/
#home .ui-content{padding: 0px;}
#home .side-nav.ui-link {color: white;left: 0;position: absolute;text-decoration: none;z-index: 20;}
#panel-btn{width: 70px;position: absolute;z-index: 100;background-color: #211f1f;top: 10px;padding-left:10px;padding-top: 3px;padding-bottom: 3px;padding-right: 3px;}
 #myPanel,#gallery-panel,#aminities-panel,#floor-panel,#info-panel{background-color: #211f1f;}
 #myPanel h2{color: #fff;}
 #myPanel .logo,#gallery-panel .logo,#aminities-panel .logo,#floor-panel .logo,#info-panel .logo{text-align: center;}
#myPanel .logo > img, #gallery-panel .logo > img,#aminities-panel  .logo > img, #floor-panel .logo > img, #info-panel .logo > img{width: 100px;}
#myPanel .buttons,#gallery-panel .buttons ,#aminities-panel .buttons , #floor-panel .buttons, #info-panel .buttons{color: #d2ae6d;margin-top: 50%;overflow: hidden;}

#myPanel .buttons div,#gallery-panel .buttons div ,#aminities-panel .buttons div, #floor-panel .buttons div, #info-panel .buttons div{float: left;font-size: 30px;text-align: center;width: 33.33%;}
#home .owl-wrapper-outer, #aminities .owl-wrapper-outer {height: 100% !important;    }

#home .owl-wrapper ,#aminities .owl-wrapper{ height: 100%;   }

#home .owl-item,#aminities .owl-item {height: 100%;}
#home #owl-demo,#aminities #aminities-slider{height: 100%;overflow: hidden;}
#home #owl-demo .item,#aminities #aminities-slider .item {background-size: 100% 100%;height: 100%;}


#home video#bgvid {

position: fixed;

top: 50%;

left: 50%;

min-width: 100%;

min-height: 100%;

width: auto;

height: auto;

z-index: -100;

-webkit-transform: translateX(-50%) translateY(-50%);

transform: translateX(-50%) translateY(-50%);
background-size: cover;

}


/*home page's css*/

/*floor page's css*/
#floor .map img {
    min-height: 100%;
    max-width: 100%;
}
#floor .map{overflow: hidden;}
#floor .ui-content{padding: 0px;}
#floor{background-image: url(../img/top-view.jpg);background-size: cover;}
#floor .menu {
    float: right;
}
#floor .menu select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding-bottom: 5px;
}

#floor .menu {
    color: white;
    float: right;
    margin-top: 20px;
}

#floor .menu > *{
    float: left;
    margin-right: 20px !important;
}
/*floor page's css*/


/*video page's css*/

/*video page's css*/

/*aminities page's css*/

 #aminities .owl-wrapper-outer {
    height: 100% !important;    
}
#aminities .ui-content{padding: 0px;background-color: #211f1f;}
#aminities .owl-wrapper{
     height: 100%;   
}

#aminities .owl-item {
    height: 100%;
}
#aminities #aminities-slider{height: 100%;overflow: hidden;}
#aminities #aminities-slider .item {
    background-size: 100% 100%;
    height: 100%;
}

#aminities #aminities-slider .item > div {

    height: 100%;
    text-align: center;
    width: 100%;
}

#aminities-slider .text {
    left: 20px;
    position: absolute;
    top: 40%;
        background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
}
/*aminities page's css*/

/*info page's css*/
#info{background-color: #211f1f;}

#info .site,#info .office, #info .booking {
    color: #d1d3d6;
    font-size: 12px;
    margin-bottom: 20px;

}
#info .map {
    width: 50%;
     border-right: 1px solid #d1ad6d;
    padding-right: 10px;
    float: left;
}
#info .contact-wrapper .booking div{margin-bottom: 10px;}
#info .contact-wrapper span{color: #d1ad6d;}
#info .contact-wrapper{width: 50%;float: left;padding-left: 10px;}
#info .map  img{max-width: 100%;}
/*info page's css*/

/* gallery page's css*/
#gallery .ui-content{padding: 0px;background-color: #211f1f;}
#gallery .box{width: 50%;float: left;padding: 5px;}
#gallery .box img{max-width: 100%;height: 400px;width: 100%;display: block;}
#gallery figure:nth-child(2n-1) {
    padding-left: 0px !important;
}
#gallery figure:nth-child(2n) {
    padding-right: 0px !important;
}
#gallery figure img {
    display: block;
    height: 250px;
    max-width: 100%;
    width: 100%;
}
#gallery figure {
    float: left;
    width: 50%;
    padding: 5px;
}
/* gallery page's css*/