/*home page's css*/

	/*navigation's css*/
#home .cn-button:focus{box-shadow: none !important;}
	/*navigation's css*/
#home .ui-content{padding: 0px;background-color:#000;}
#home .side-nav.ui-link {color: white;left: 0;position: absolute;text-decoration: none;z-index: 20;}

#home .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
#home .swiper-slide {
    background-size: cover;
    background-position: center;
}
#home .gallery-top {
    height: 100%;
    width: 100%;
}
#home .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.8);
}
#home .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
#home .gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

#home .gallary {
	display: none;
}
#home #panel-btn{width: 70px;position: absolute;z-index: 100;background-color: #211f1f;top: 10px;padding-left:10px;padding-top: 3px;padding-bottom: 3px;padding-right: 3px;}
/*home page's css*/

/*floor page's css*/
#floor .map img {
    min-height: 100%;
    max-width: 100%;
}
#floor .map{overflow: hidden;}
#floor .ui-content{padding: 0px;}
/*floor page's css*/


/*video page's css*/

/*video page's css*/

/*aminities page's css*/

/*aminities page's css*/

/*help page's css*/

/*help page's css*/
